*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    
}
.Note{
    margin-left: 5rem;
    margin-right: 1rem;
    align-items: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.374);
    list-style: none;
    margin-bottom: 1rem;
    
    
    
}


.Note > header{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.8rem   ;
    background-color: var(--primary-color);
  
     
}

.Note > div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  

}

.Note > div > p {
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;

   
}
.Note > div > img{
    width: 50%;
    align-items: center;
    padding-left: 1rem;
}

.Note > div > h5 {
    text-align: end;
    padding-top: 0.2rem;
    color: rgb(143, 3, 3);
    font-style: italic;
    margin-right: 1rem;
}
div > button{
    flex-direction: row;
    gap: 1rem;
}

div > button.EditNote{
    text-align: center;
    align-items:flex-end;
    height: 65px;
    width: 10rem;
    font-family: sans-serif;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
   
}
div > button.Trash{
    align-items: center;
    text-align: center;
    height: 4rem;
    width: 6rem;
    font-size: 3rem;
    margin-bottom: 1.8rem;
    
}


/* RESPONSIVE */
@media (min-width: 800px) {
    .Note{
        width: 80%;
    }

}