@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');
header{
    display: flex;
    align-items:center;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

 a {
     font-family: 'Alumni Sans Collegiate One', sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 4rem;
    text-shadow: 1rem;
    -webkit-text-stroke: 1px black;
    
}

nav{
    display: flex;
    gap: 1rem;
}

nav > p {
    align-self: center;
    font-weight: bold;
    font-family: sans-serif;
}

nav > div.button {
    height: 90px;
    width: 180px;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}

nav > div.button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

nav > div.button:first-child {
    margin-right: 1rem;
}

nav > div.button a {
    text-decoration: none;
    
}

 .Mensagge {
    
    height: 70px;
    width: 150px;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.Logout  {
    
    height: 70px;
    width: 170px;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.Logout > p{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 4rem;
    text-shadow: 1rem;
    -webkit-text-stroke: 1px black;
    
}

/* RESPONSIVE */
@media (min-width: 800px) {
    header{
        margin: 0 auto;
        width: 100%;
        flex-direction: row;
        gap: 5rem;
    }
}
nav > div.button {
    align-items:flex-end;
    text-align: center;
}